<div class="mobile-hide">
    <mat-toolbar color="primary" class="toolbar">
        <div>
            <a (click)="expandSidenav = !expandSidenav" class="hamburger">
                <i class="material-icons">menu</i>
            </a>
        </div>
        <span class="toolbar-text">{{toolbarTitle}}</span>
        <span class="fill-remaining-space"></span>
        <span></span>
    </mat-toolbar>


    <div class="sidenav-desktop" [class.sidenav-desktop-expanded]="expandSidenav">
        <a routerLink="/dashboard" routerLinkActive="active" (click)="expandSidenav = false">
            <span class="sidenav-item"><i class="material-icons icon">dashboard</i> <span class="text">Dashboard</span></span>
        </a>
        <a routerLink="/search" routerLinkActive="active" (click)="expandSidenav = false">
            <span class="sidenav-item"><i class="material-icons icon">search</i> <span class="text">Search</span></span>
        </a>
        <a routerLink="/camera-settings" routerLinkActive="active" (click)="expandSidenav = false">
            <span class="sidenav-item"><i class="material-icons icon">linked_camera</i> <span
                    class="text">Camera's</span></span>
        </a>
        <a routerLink="/account" routerLinkActive="active" (click)="expandSidenav = false">
            <span class="sidenav-item"><i class="material-icons icon">person</i> <span
                    class="text">Account</span></span>
        </a>

        <a href="https://www.netropolix.be" class="navbar-brand" target="_blank">
            <img src="/src/assets/images/Netropolix_logo_horizontaal.svg" alt="">
        </a>
    </div>
</div>
