<div class="mt-20">
    <div class="mobile-show">
        <div class="dashboard-graph">
            <iframe src="https://app.powerbi.com/view?r=eyJrIjoiNWE4OTRkN2QtMDQyZS00M2Q3LThjZGItOTZiZDE1NmMyNWNjIiwidCI6Ijc3ZDMzY2M1LWM5YjQtNDc2Ni05NWM3LWVkNWI1MTVlMWNjZSIsImMiOjh9"
                    frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
    <!--<div class="dashboard-graph">-->
    <!--<iframe src="https://app.powerbi.com/view?r=eyJrIjoiZDQzNGJlZDItOThhOC00MzY4LTkwZjQtNDc0YTIzZjU1MTQ5IiwidCI6Ijc3ZDMzY2M1LWM5YjQtNDc2Ni05NWM3LWVkNWI1MTVlMWNjZSIsImMiOjh9"-->
    <!--frameborder="0" allowFullScreen="true"></iframe>-->
    <!--</div>-->

    <div class="mobile-hide">
        <div class="dashboard-graph-desktop">
            <iframe src="https://app.powerbi.com/view?r=eyJrIjoiYjcwYjZhOWQtOWEyMi00YmY5LTllZGItMmQyNzkwNDhmYTVhIiwidCI6Ijc3ZDMzY2M1LWM5YjQtNDc2Ni05NWM3LWVkNWI1MTVlMWNjZSIsImMiOjh9"
                    frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
</div>

