.camera-settings-table {
  width: 100%;

  .mat-form-field-wrapper {
    padding-top: 1.34375em !important;
  }
}

.hideElse {
  display: none;
}

.camera-top-input {
  display: flex;

  button {
    margin-top: 8px;
    margin-left: 16px;
  }
}

.showCameraSettings {
  display: block !important;
}

.input-camera-settings {
  @media (max-width: 400px) {
    width: 125px !important;
  }

  @media (min-width: 400px) {
    width: 90% ;
  }
}
